body
{
    margin: 0;
    padding: 0;
    animation: bgcolor infinite 20s;
}
h1
{
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 4em;
    color: black;
    position: absolute;
    top: 50%;
    Left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
}
@keyframes bgcolor{
    0%
    {
        background: #2ecc71 ;
    }
    20%
    {
        background: #f1c40f ;
    }
    40%
    {
        background: #ecf0f1 ;
    }
    60%
    {
        background: #e74c3c ;
    }
    80%
    {
        background: #e67e22;
    }
    100%
    {
        background: #3498db ;
    }
}
.container{
    height: 300px;
    width: 100%;
}

#display{
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
}

.buttons{
    text-align: center;
} 

